body { min-width:750px; font-family: arial, verdana; font-size: 10px; }

div.wrap { margin: 0 auto; width:715px; }

div.cv-content { margin: 0 auto; width:715px; }

div.column1 { float:left; width:350px; }

div.column2 { float:right; width:350px; text-align: right; }

table.summary { width: 715px; border-collapse: collapse; }

td.tr1 { width: 350px; }

a.a1 {color: white; background-color: #000099; text-decoration: none; font-weight:bold; }
a.a1:hover {color: white; background-color: black; text-decoration: none; font-weight:bold;} 

a.a2 {color: white; background-color: red; text-decoration: none; font-weight:bold;}
a.a2:hover {color: white; background-color: black; text-decoration: none; font-weight:bold;} 

h4 { font-size: 16px;}